@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*========= HEADER =============*/

.header {
    padding: 0;
}
header {
    font-family: 'Oswald', sans-serif;
}
span, li{
    font-size: 1.3rem;
}
a {
    color: black;
}
.link-secondary a{
    color: gray;
}
a:hover, .link-secondary a:hover{
    color:#800320;
}
.title{
    font-size: 2rem;
    color: #296140;
}
.icons-header{
    display: flex;
    gap: 2rem;
}
/*=========== SECTION CARDS ==========*/
.products-title{
    font-family: 'Oswald', sans-serif;
    background: #800320;
    color: #fff;
    padding: 10px;
}
.margin-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.border {
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  word-wrap: break-word;
}
.img-card, .text-card {
  margin-top: 1rem;
}
.icons-card {
  margin-top: 0.5rem;
  gap: 2rem;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
@media (max-width: 768px)  {
  .flex {
    display: flex;
    flex-direction: column;
  }
}