@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*========= HEADER =============*/

.header {
    padding: 0;
}

header {
    font-family: 'Oswald', sans-serif;
}
span, li{
    font-size: 1.3rem;
}
a {
    color: black;
}
.link-secondary a{
    color: gray;
}
a:hover, .link-secondary a:hover{
    color:#800320;
}
.title{
    font-size: 2rem;
    color: #296140;
}
.icons-header {
    display: flex;
    gap: 2rem;
}
/*=========== SECTION CARDS ==========*/
.products-title{
    font-family: 'Oswald', sans-serif;
    background: #800320;
    color: #fff;
    padding: 10px;
}
.margin{
    margin-top: 2rem;
    gap: 0.5rem;
}
.margin-title {
    margin-top: 3rem;
}
.card {
    width: 20rem;
}
